header {
    text-align: center;
    background-color: rgb(15, 15, 85);
    color: rgb(205, 169, 169);
    width: 100%;
    height: 100px;
    padding-top: 20px;
}

h3 {
    line-height: 1px;
}

body {
    background-color: bisque;
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;

}

#start-screen, #questions {
    margin: 0 auto;
    padding: 3px;
    max-width: 500px;

}

#start-screen p {
    font-size: 25px;
}

Button {
    background-color: rgb(8, 8, 119);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
}

Button:hover {
    background-color: rgb(47, 47, 118);
    box-shadow: inset;
}

.hide {
    display: none;
}

.feedback {
    margin: 0 auto;
    padding: 3px;
    max-width: 500px;

}

li:nth-child(odd) {
    background-color:coral;  
}

.scores {
    align-items: center;
}

#highscores {
    width: 500px;
    border: 2px solid black;
    padding: 5px;
}

#highscores:empty {
    border: none;
}





